<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<h1>Classes</h1>

<p>Hey {{ person['name_first_preferred'] }}. One more step is left to get email notifications.<br>

You need to enter your password so we can quickly get the courses. We do not store your password anywhere.
</p>
<button onClick=red()>Manually import ID without password</button>
<center>
<form action = '/get_courses?tok={{ tok }}' method='post' id="passForm">
	<input type="password" id="pw" name="pw" class="inp" placeholder="password">
	<input type="submit" class="inpbut" value="Submit">
</form>
<script>
function red(){window.location.href ="/authorized?man=t&tok={{ tok }}"};
</script>